<!DOCTYPE html>
<html>
<head>
    <title>Polina Malaia, CA - Resume/CV</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'>
    
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Brand</a>-->
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<div id="section-topbar">
      
      <div id="topbar-inner">          
              <ul class="nav navbar-nav">
                <li><a data-scroll href="#title" title="Top"><i class="fa fa-long-arrow-up"></i></a></li>
                <li><a data-scroll href="#About" title="About"><i class="fa fa-user"></i></a></li>
                <!--<li><a data-scroll href="#Experience" title="Experience"><i class="fa fa-suitcase"></i></a></li>-->
                <li><a data-scroll href="#Education" title="Education"><i class="fa fa-university"></i></a></li>
                <li><a data-scroll href="#Skills" title="Skills"><i class="fa fa-wrench"></i></a></li>
                <li><a data-scroll href="#Expertise" title="Expertise"><i class="fa fa-magic"></i></a></li>
                <li><a data-scroll href="#Contact" title="Contact"><i class="fa fa-envelope"></i></a></li>
              </ul>
      </div>
  </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- HEADER -->
<div id='title'>

<div id="resume-section" style='padding-top:90px'>
  <div class="container">
    <div class="row">
        <!--<div class="col-lg-2">-->
          
        <!--</div>-->
        <div class="col-lg-8">

            <h3 id='name'>Polina Malaia</h3>
            <h3 id='prof'>Front-end developer</h3>
        </div>
        <div class="col-lg-4">
            <img class='photo' src='pti.png'>
          </div>

        </div>
  </div>
  </div>
</div>

<!-- ABOUT -->
<div class="resume-section dark-background" id="About">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <h5>ABOUT</h5>
      </div>
      <div class="col-lg-8">
        <p>Hello and welcome to my CV. I am a frontend developer with 1 year experience with two pet project you can see below. Before I worked in QA automated area, but now want to change occupation and searching for frontend developer position.  I love creating functional, beautiful and reliable web, using modern technologies. A quick learning person who can absorb new ideas and can communicate clearly and effectively. Feel free to message me.</p>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
</div>

		<!-- EXPERIENCE -->
<!--<div class="resume-section" id="Experience">-->
<!--  <div class="container">-->
<!--		<div class="row">-->
<!--				<div class="col-lg-2">-->
<!--					<h5>EXPERIENCE</h5>-->
<!--				</div>-->
<!--				<div class="col-lg-8">-->
<!--					<p>-->
<!--						<t>Senior Auditor</t><br/>-->
<!--						<a href="#">BDO Cayman Ltd.</a>, Grand Cayman, Cayman Islands-->
<!--					</p>-->
<!--					<ul>-->
<!--						<li>Plan and execute financial statement audits primarily for hedge funds and insurance companies in both US GAAP and IFRS</li>-->
<!--						<li>Types of funds and securities audited: fund of funds, managed futures, exchange traded equities, private equities, level 2 equities, depository receipts, swaps, options, swaptions, forward contracts, forward freight agreements, bonds (many different grades), T-bills, ETFs</li>-->
<!--						<li>Relevant procedures performed: investment valuation testing (levels 1, 2 and 3), trade reconciliations, shareholder P&L allocation testing, shareholder contribution/redemption testing, gain/loss testing, management and performance fee testing, preparation of financial statements including note disclosures</li>-->
<!--						<li>Routinely dealt with investment managers, fund administrators, brokers, custodians, lawyers and the regulatory body in the Cayman Islands (Cayman Islands Monetary Authority)</li>-->
<!--						<li>Designated as the “Bloomberg expert” of the office which involved investigating and answering queries from co-workers, creating templates to automatically download large amounts of data using the Bloomberg Excel Add-in and communicating features and best practices to the office</li>-->
<!--						<li>Performed several successful speaking engagements on behalf of BDO for the Cayman Islands government and the Cayman Islands Chamber of Commerce receiving great reviews on both presentation style and content</li>-->
<!--						<li>Volunteer on behalf of BDO as a Junior Achievement advisor to local youth - received praise from "achievers" and other advisers in the group</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="col-lg-2">-->
<!--					<p><sm>Jan 2012 - Aug 2013</sm></p>-->
<!--				</div>	-->
<!--				<div class="col-lg-8 col-lg-offset-2">-->
<!--					<p>-->
<!--						<t>Senior Staff Accountant</t> <em>(promoted from Staff Accountant I and II)</em><br/>-->
<!--						<a href="#">NPT LLP </a><em>(a member of the <a href="#">PKF</a> network of firms)</em>, Ontario, Canada-->
<!--					</p>-->
<!--					<ul>-->
<!--						<li>Planned and executed financial statement audits for many different types of organizations of differing sizes</li>-->
<!--						<li>Prepared financial statements in accordance with Canadian and International GAAP</li>-->
<!--						<li>Completed work on municipal audits and various government and quasi-government organizations</li>-->
<!--						<li>Performed tax compliance and implemented complex tax structures for corporations, individuals and trusts</li>-->
<!--						<li>Coached and trained CA students while acting as a mentor</li>-->
<!--						<li>Facilitated the hiring of new CA students</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="col-lg-2">-->
<!--					<p><sm>Sep 2008 - Dec 2011</sm></p>-->
<!--				</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

	<!-- EDUCATION -->
<div class="resume-section light-background" id="Education">	
  <div class="container">
		<div class="row">
			<div class="col-lg-2">
				<h5>EDUCATION</h5>
			</div>
			<div class="col-lg-8">
				<p>
					<t>JavaScript Tutorial course</t><br/>
					<a href="https://www.sololearn.com/Course/JavaScript/">SoloLearn</a>
				</p>
			</div>
			<div class="col-lg-2">
				<p><sm>2017</sm></p>
			</div>
			<div class="col-lg-8 col-lg-offset-2">
				<p>
					<t>43 hours of The Web Developer Bootcamp</t><br/>
					<a href="https://www.udemy.com/the-web-developer-bootcamp/">Udemy</a>
				</p>
			</div>
			<div class="col-lg-2">
				<p><sm>2018</sm></p>
			</div>
			<div class="col-lg-8 col-lg-offset-2">
				<p>
            <t>The Advanced Web Developer Bootcamp</t></br>
					<a href="https://www.udemy.com/the-advanced-web-developer-bootcamp/">Udemy</a>
				</p>
			</div>
			<div class="col-lg-2">
				<p><sm>2018(In progress)</sm></p>
			</div>
		</div>
	</div>
</div>

<!--SKILLS -->
<div class="resume-section dark-background" id="Skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <h5>SKILLS</h5>
      </div>
      <div class="col-lg-4">
        <ul>
          <t>Front</t>
          <li class='marker_list'>CSS3</li>
          <li class='marker_list'>HTML5</li>
          <li class='marker_list'>Basis of JavaScript/jQuery</li>
          <li class='marker_list'>Understanding of ES2017 (ES8)</li>
          <li class='marker_list'>Experience with React</li>
        </ul>
        <ul>
          <t>Other</t>
          <li class='marker_list'>Git</li>
          <li class='marker_list'>OS: Linux/Windows</li>
          <li class='marker_list'>SQL(PostgreSQL,MongoDB)</li>
        </ul>
      </div>		
      <div class="col-lg-4">
        <ul>
          <t>Back</t>
          <li class='marker_list'>Python</li>
          <li class='marker_list'>Experience with Node.js/Express</li>
        </ul>					
      </div>
    </div>
  </div>
</div>

	<!-- EXPERTISE -->
<div class="resume-section light-background" id="Expertise">
  <div class="container">
		<div class="row">
			<div class="col-lg-2">
					<h5>PROJECTS</h5>
			</div>

    <div class='flex-section'>
      <div class='flex-item'>
        <h3>Express/Node.js</h3>

        <p><a href="https://dramagenerator.herokuapp.com/"><img src="drama1.png" alt="Пример"></a></p>
      </div>

      <div class='flex-item'>
        <h3>Wordpress</h3>

        <p><a href="http://www.larpsnail.com/"><img src="pic2.png" alt="Пример"></a></p>
      </div>

      <div class='flex-item'>
        <h2>First article</h2>

        <p><a href="https://dramagenerator.herokuapp.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="Пример"></a></p>
      </div>
    </div>
    </div>
    </div>
    </div>

<!--CONTACT -->
<div id="footwrap">
  <div class="container" id="Contact">
    <div class="row">
      <div class="col-lg-2">
        <h5>CONTACT</h5>
      </div>
      <div class="col-lg-8 centered">
        <p>
          <t>Email</t><br/>
          <a href="mailto:polzushij@gmail.com">polzushij@gmail.com</a> <br/>
        </p>
        <p>
          <t>Phone</t><br/>
          +38 073 103 71 12 <br/>
        </p>
        <p>
          <t>City</t><br/>
          Kiev<br/>
        </p>
      </div>
      <div class="col-lg-2 centered">
        <p>
          <a href="ticket_365144703.pdf"><i class="fa fa-file"></i></a> <sm>Download 1 page PDF copy</sm>
        </p>
        <P>
          <a href="https://www.linkedin.com/pub/matt-wheeler/18/36b/85/"><i class="fa fa-linkedin-square"></i></a> <sm>LinkedIn profile</sm>
        </P>
      </div>
    </div>
  </div>
</div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" href="/js/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>